@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Young+Serif&display=swap');

:root {
    /* Colors */
    --purple-50: hsl(260, 100%, 95%);
    --purple-300: hsl(264, 82%, 80%);
    --purple-500: hsl(263, 55%, 52%);
    --white: hsl(0, 0%, 100%);
    --grey-100: hsl(214, 17%, 92%);
    --grey-200: hsl(0, 0%, 81%);
    --grey-400: hsl(224, 10%, 45%);
    --grey-500: hsl(217, 19%, 35%);
    --dark-blue: hsl(219, 29%, 14%);
    --black: hsl(0, 0%, 7%);

    /* Fonts */
    --font-barlow: 'Barlow Semi Condensed', sans-serif;
    --fw-500: 500;
    --fw-600: 600;
    --fs-p: 13px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-barlow);
    display: grid;
    place-items: center;
    height: 100vh;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    padding: 20px;
}

.card-one, .card-two, .card-three, .card-four, .card-five {
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.review {
    font-size: 1rem;
    font-weight: var(--fw-600);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-size: var(--fs-p);
}

.name {
    font-weight: var(--fw-500);
    font-size: var(--fs-p);
    margin-bottom: 0.25rem;    
}

img {
    scale: 80%;
    border-radius: 50%;
    border: 2px solid;
}

/* Card One Styles */

.card-one {
    background-color: var(--purple-500);
    color: var(--white);
}

.card-one img {
    border-color: var(--purple-300);
}

/* Card Two Styles */
.card-two {
    background-color: var(--grey-500);
    color: var(--white);
}

.card-two img {
    border: none;
}

/* Card Three Styles */
.card-three {
    background-color: var(--white);
    color: var(--grey-400);
}

.card-three img {
    border: none;
}

/* Card Four Styles */
.card-four {
    background-color: var(--black);
    color: var(--white);
}

.card-four img {
    border-color: var(--purple-500);
}

/* Card Five Styles */
.card-five {
    background-color: var(--white);
    color: var(--grey-400);
}

.card-five img {
    border: none;
}

/* Responsive Design */
@media (min-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        max-width: 1200px;
    }

    .card-one, .card-two, .card-three, .card-four, .card-five {
        width: 100%;
        height: 100%;
        margin: auto;
    }

    .card-one {
        grid-column: span 2;
        grid-row: 1;
    }

    .card-two {
        grid-column: 3;
        grid-row: 1;
    }

    .card-three {
        grid-column: 1;
        grid-row: 2;
    }

    .card-four {
        grid-column: span 2;
        grid-row: 2;
    }

    .card-five {
        grid-column: 4;
        grid-row: span 2;
    }
}